/* Base styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--header-background-color);
    transition: background-color 0.3s;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

/* Menu Toggle Button */
.menuToggle {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s;
    cursor: pointer;
}

.nav a:hover {
    color: var(--link-color);
}

.themeToggle {
    margin-left: 1.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
}

.themeToggle:focus {
    outline: none;
}

.languageSwitcher {
    margin-left: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

/* Responsive styles */

@media (max-width: 768px) {
    /* Show menu toggle button */
    .menuToggle {
        display: block;
    }

    /* Adjust header layout */
    .header {
        justify-content: space-between;
    }

    /* Hide nav by default */
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        background-color: var(--header-background-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;
        z-index: 999;
    }

    /* Show nav when open */
    .navOpen {
        right: 0;
    }

    .nav a,
    .themeToggle,
    .languageSwitcher {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .nav a {
        margin-left: 0;
    }

    .themeToggle,
    .languageSwitcher {
        margin-left: 0;
    }
}
