.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--header-background-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(45deg, #FF6584, #6c63ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    z-index: 1001;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav a, .nav button {
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
}

.nav a:hover, .nav button:hover {
    color: var(--link-color);
}

.navMobile {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.navOpen {
    display: flex;
    max-height: max-content;
    padding: 1rem 0;
}

.navMobile a, .navMobile button {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuToggle {
        display: block;
    }

    .nav {
        display: none;
    }

    .navMobile {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        text-align: center;
    }

    .navOpen {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
    }
}

@media (min-width: 768px) {

    .navOpen {
        display: none;
    }
}
