
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
}

.border {
    border-radius: 12px;
    padding: 2px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(45deg, #FF6584, #6c63ff);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.border:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.card p {
    color: var(--secondary-text-color);
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
