
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

.tech {
    font-size: 0.85rem;
    color: var(--link-color);
    margin-bottom: 0.75rem;
}

